$header-color: #ffc107;
// $divider-color: #ffecb3;
// $divider-color: #ffe082;
$divider-color: #b0bec5;

html,body {
    margin:0;
}
.center {
  text-align: center;
}

.fancy-text {
  font-size: 2.2rem;
}

.welcome {
  padding-top: 15px;
    text-align: center;
    background-color: $header-color;
    margin-bottom: 20px;
}
.welcome-content {
  display: flex;
  flex-direction: row;
}

.dove-image {
    flex-grow: 2;
    max-height: 80px;
    align-self:flex-end;
    padding-bottom: 10px;
}

.flex-test {
    flex-grow: 3;
}

.section {
  padding: 4rem 0 3rem;
  text-align: center;
}
.section-divider {
  font-size: 1.6em;
  // font-weight:bold;
  background-color: $divider-color;
  padding: 3rem 0 2rem;
  text-align: center;
}