$header-color: #ffc107;
// $divider-color: #ffecb3;
// $divider-color: #ffe082;
$divider-color: #b0bec5;

html,body {
    margin:0;
}
body {
    font-size: 1.7em;
}
.center {
  text-align: center;
}

.fancy-text {
  font-size: 2.2rem;
}

.welcome {
  padding-top: 15px;
    text-align: center;
    background-color: $header-color;
    margin-bottom: 20px;
}
.welcome-content {
  display: flex;
  flex-direction: row;
}

.dove-image {
    flex-grow: 2;
    max-height: 80px;
    align-self:flex-end;
    padding-bottom: 10px;
}

.flex-test {
    flex-grow: 3;
}

.section {
  padding: 4rem 0 3rem;
  text-align: center;
  .container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  a, span {
    //is this 3-deep where the shit performance comes in? 
    margin: 5px 20px;
  }
  }
}
.section-divider {
  background-color: $divider-color;
  padding: 3rem 0 2.5rem;
  text-align: center;
  h1,h2,h3,h4,h5 { margin-bottom: 0; } 
}